<% provide(:title, 'About') %>
<h1>About</h1>
<p>Do you find yourself tweeting articles as a bookmark? I do! That's why I created TweetMark.        Just sign in with Twitter and start tweetmarking!</p>
