 <% if current_user %>
<div class="row">
	<div class="span2" id="tag-sidebar">
		<%= image_tag(@user.image) %>
	</div>
	<div class="span8">
		<ul>
			<% if @user.tweets.any? %>
			<h3>Your TweetMarks (<%= @user.tweets.count %>)</h3>
			<div class="tweets">
				<%= render @tweets.sort_by{|t| t.tweetid}.reverse %>
            </div>
		    <% end %>
		</ul>
	</div>
</div>
<% else %>
<div class="center hero-unit">
   <h1>Welcome to TweetMark</h1>
   <h2>You can finally bookmark your tweets</h2>
       <%= link_to image_tag("/assets/twitter-signin.png", alt: "Sign In With Twitter"), "/auth/twitter"%>
</div>
<% end %>

